panel==1.8.5
pandas==3.0.0
plotly==6.3.0
matplotlib==3.10.8
numpy==2.4.4
bokeh==3.8.2
param==2.3.1
pyviz_comms==3.0.6
Markdown==3.8
markdown-it-py==4.0.0
mdit-py-plugins==0.5.0
linkify-it-py==2.0.3
joypy==0.2.6